body {
  height: 100vh;
  width: 100vw;
  background: #8040bf;
  color: white;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
  min-height: 350px;
  margin: auto;
}

@media (min-width: 480px) {
  body {
    font-size: 200px;
  }

  #result {
    font-size: 50px;
    height: 150px;
  }
}

h1 {
  font-size: 35px;
  text-align: center;
  height: 110px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  min-width: 700px;
}

.flip-left {
  -webkit-transform: rotateZ(90deg) rotateY(0deg) rotateX(0deg);
  -moz-transform: rotateZ(90deg) rotateY(0deg) rotateX(0deg);
  -ms-transform: rotateZ(90deg) rotateY(0deg) rotateX(0deg);
  -o-transform: rotateZ(90deg) rotateY(0deg) rotateX(0deg);
  transform: rotateZ(90deg) rotateY(0deg) rotateX(0deg);
}

.flip-left-alt {
  -webkit-transform: rotateZ(180deg) rotateY(0deg) rotateX(180deg);
  -moz-transform: rotateZ(180deg) rotateY(0deg) rotateX(180deg);
  -ms-transform: rotateZ(180deg) rotateY(0deg) rotateX(180deg);
  -o-transform: rotateZ(180deg) rotateY(0deg) rotateX(180deg);
  transform: rotateZ(180deg) rotateY(0deg) rotateX(180deg);
}

.flip-right {
  -webkit-transform: rotateZ(90deg) rotateY(0deg) rotateX(180deg);
  -moz-transform: rotateZ(90deg) rotateY(0deg) rotateX(180deg);
  -ms-transform: rotateZ(90deg) rotateY(0deg) rotateX(180deg);
  -o-transform: rotateZ(90deg) rotateY(0deg) rotateX(180deg);
  transform: rotateZ(90deg) rotateY(0deg) rotateX(180deg);
}
